<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
			"http://www.springframework.org/dtd/spring-beans-2.0.dtd">


 <beans>
	<bean id="C" class="com.rahul.springclass.Car">
		<property name="engine" ref="E"></property>
	</bean>
	<bean id="E" class="com.rahul.springclass.Engine">
		<property name="engineName" value="Audi"></property>
	</bean>

</beans> 


